*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(quora-background-image.webp) ;
    background-repeat:no-repeat
    
   
  
}

.container{
    height: 500px;
    width: 700px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
   
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(187, 185, 185);
    
}

img{
    margin-top: 30px;
    margin-left: 35%;
  
}
.heading{
    color: rgb(85, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #5178ce;

}
a:hover{
    text-decoration: underline;
}
span{
    color: rgb(148, 146, 146);
    font-weight: lighter;
    
}
.user{
    height: 40px;
    width: 300px;
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 1px rgb(58, 57, 57);
    background-color: white;
}

.user:hover{
    background-color: rgb(218, 217, 217);
}

.signup{
    height: 30px;
    width: 300px;
    background-color: white;
    border: none;
    font-size: 12px;
    color: rgb(106, 105, 105);
    border-radius: 20px;

}
.signup:hover{
    background-color:  rgb(218, 217, 217);

}

   

.heading {
    text-align: center;
}
.sub{
    padding-left: 20px;
}
.container1{
    background-color:white;
    width: 340px;
    height: 250px;
    border-right: solid 1px rgb(193, 193, 193);
    float: inline-start;
 
 
   
}
.container2{
    width:  340px;
    height: 250px;
    background-color:white;
   
    float: inline-end;
    font-family: arial;
    font-weight: lighter;
    



    
    
}
.upper{
    width: 300px;
   

}
input[type="email"]{
    height: 35px;
    width: 300px;
    font-size: 15px;
    padding-left: 4px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 2px gray;
}
input[type="password"]{
    height: 35px;
    width: 300px;
    font-size: 15px;
    padding-left: 4px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 2px gray;



}

.login{
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 32px;
    color: white;
    background-color: #3b4aed;
    font-size: 14px;
 
}

.login:hover{
    background-color: #2030d9;
}
.bottom{
    width: 698px;
   
}

.footer a{
    color: rgb(55, 54, 54);
    font-size: small;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: arial;
    height: 54px;
    width: 700px;
    background-color: rgb(237, 235, 235);
    border-radius: 5px;
    border: none;
    border-top: solid 1px rgb(205, 205, 205);
}

.hindi{
   display: flex;
   align-items: center;
   justify-content: center;
 
}
label{
    font-size: 13px;
    font-weight: bold;
    
}